
.typey-cursor.blink {
  animation: blink 1s step-end infinite;
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
}
@keyframes blink {
  0%{opacity:1}50%{opacity:0}
}
@-webkit-keyframes blink {
  0%{opacity:1}50%{opacity:0}
}
@-moz-keyframes blink {
  0%{opacity:1}50%{opacity:0}
}
@-o-keyframes blink {
  0%{opacity:1}50%{opacity:0}
}